<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Header template</title>
    </head>
    <body>

        <header th:fragment="header">
            <ul>
                <li><a th:href="@{/books}">Books</a></li>
                <li><a th:href="@{/cart}">Cart</a></li>
                <li><a th:href="@{/authors}">Authors</a></li>
                <li><a th:href="@{/genres}">Genres</a></li>
                <li><a th:href="@{/orders}">Orders</a></li>
                <div sec:authorize="!hasAnyAuthority('ROLE_ADMIN,ROLE_USER')">   
                    <li><a th:href="@{/login}">Login</a></li>
                </div>
                <div sec:authorize="hasAnyAuthority('ROLE_ADMIN,ROLE_USER')">      
                    <li><a th:href="@{/logout}">Logout</a></li>
                </div>
            </ul>
        </header>

    </body>
</html>
